<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                
                {% for item in site.menu_section_nav %}
                <li><a href="#{{item.href}}">{{item.name}}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <section>
            <header class="major">
                <h2>Contact</h2>
            </header>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href='mailto:{{site.email}}'>{{site.email}}</a></li>
                <!-- <li class="icon solid fa-phone">(000) 000-0000</li> -->
                <li class="icon solid fa-home">Gangdong-gu, Seoul, Republic of Korea</li>
            </ul>
        </section>
        
        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Untitled. All rights reserved.</p>
        </footer>
    </div>
</div>