<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                {% for item in site.menu_section_nav %}
                    {% if page.layout == "post" %}
                    <li><a href="/main">{{item.name}}</a></li>
                    {% else %}
                    <li><a href="#{{item.href}}">{{item.name}}</a></li>
                    {% endif %}

                
                {% endfor %}
            </ul>
        </nav>
        <!-- Footer -->
        {% include main_footer.html %}
    </div>
</div>

