<header class="navbar">
    <div class="nav-left">
  <a href="/" style="text-decoration: none; color: inherit;">Re_Docu</a>
</div>
    {% if page.url == "/" %}
    <div class="nav-right">
        <select onchange="location.href=this.value">
            <option selected disabled>이동하기</option>
            <option value="#profile">프로필</option>
            <option value="#webgame">웹게임</option>
            <option value="#portfolio">포트폴리오</option>
            <option value="#blog">블로그</option>
        </select>
    </div>
    {% endif %}
</header>