<header id="header">
    <h1 id="logo"><a href="/">{{site.title}}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a href="#">Introduce</a>
                <ul>
                    <li><a href="/#WebGame">Web Game</a></li>
                    <li><a href="/#PortFolio">PortFolio</a></li>
                    <li>
                        <a href="/#DevelopNote">Develop Node</a>
                        <ul>
                            <li><a href="board_book">Book</a></li>
                            <li><a href="board_lecture">Lecture</a></li>
                            <li><a href="board_research">Research</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>