<header id="header">
    <h1 id="logo"><a href="/">{{site.title}}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a href="#">Skill</a>
                <ul>
                    <li><a href="left-sidebar.html">Single Project</a></li>
                    <li><a href="right-sidebar.html">Study Project</a></li>
                    <li><a href="no-sidebar.html">Extra Project</a></li>
                    <!--<li>
                        <a href="#"></a>
                        <ul>
                            <li><a href="#">Option 1</a></li>
                            <li><a href="#">Option 2</a></li>
                            <li><a href="#">Option 3</a></li>
                            <li><a href="#">Option 4</a></li>
                        </ul>
                    </li>-->
                </ul>
            </li>
        </ul>
    </nav>
</header>