<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href='main'>HOME</a></li>
                {% for item in site.data.portfolio.portfolio_list %}
                <li><a href="#{{item.href}}">{{item.name}}</a></li>
                {% endfor %}
            </ul>
        </nav>
        
        <!-- Footer -->
        {% include main_footer.html %}
    </div>
</div>