<!DOCTYPE HTML>

<html>
	<head>
		<title>{{site.title}}</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="정적 개인 포트폴리오 웹사이트" />
		<link rel="stylesheet" href="/assets/css/styles.css" />
	</head>
    <body>
		<div id="page-wrapper">
            {% include nav.html %}
            {% if page.content_layout %}
            <div style="max-width: 90%; margin: 0 auto; padding: 20px;">
            {% endif %}
			{{content}}
            {% if page.post_layout %}
            </div>
            {% endif %}

        </div>
            {% include footer.html %}        
		<!-- Scripts -->
        <script src="/assets/js/main.js"></script>
    </body>
</html>