<!DOCTYPE HTML>

<html>
	<head>
		<title>{{site.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/style.css" />
	</head>
    <body>
		<div id="page-wrapper">
            {% include nav.html %}
            {% if page.content_layout %}
            <div style="max-width: 90%; margin: 0 auto; padding: 20px;">
            {% endif %}
			{{content}}
            {% if page.post_layout %}
            </div>
            {% endif %}

        </div>
            {% include footer.html %}        
		<!-- Scripts -->
        <script src="/assets/js/main.js"></script>
    </body>
</html>